=simple_form_for @subset, :html => { :class => 'form-inline' } do |f| 
  .form-inline.row-fluid
    //= f.input :swimset_id, :wrapper_html => {:class => "span1"} 
    .span1
      = f.input :distance, :class => "small-input"
    .span1
      = f.association :stroke, :class => "small-input"
    .span1
      = f.association :varience, label_method: :varience, value_method: :id, :class => "small-input"
  .row-fluid
    .span1
      = f.input :comment, :class => "large-input"
    .span1
      = f.button :submit, :class => "small-input"
